<div class="flex flex-col items-center justify-center p-3">
  <div>
    <img src="../../../../assets/Frame 4.png" alt="" class="w-96" />
  </div>
  <div class="divider"></div>
  <div class="flex flex-col gap-2">
    <p class="text-center">To continue, Login to Encore.</p>
    <button class="btn bg-blue-600 border-none btn-wide rounded-full btn-sm flex justify-center gap-3">
      <img src="../../../../assets/icons8-facebook-250.svg" class="w-5 "/>
      Continue with Facebook
    </button>
    <button class="btn btn-wide rounded-full btn-sm flex justify-center gap-3">
      <img src="../../../../assets/icons8-apple-logo-500.png" class="w-5 "/>

      Continue with Apple
    </button>
    <button
    class="btn bg-white btn-wide rounded-full btn-sm text-black hover:text-white flex justify-center gap-3"
    >
    <img src="../../../../assets/icons8-google-240.png" class="w-5 "/>
      Continue with Google
    </button>
  </div>
  <div class="divider">OR</div>

  <div>
    <div class="flex bg-base-100 w-96">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="text" placeholder="email" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="text"
            placeholder="password"
            class="input input-bordered"
          />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover"
              >Forgot password?</a
            >
          </label>
        </div>
        <div class="flex justify-between items-center">
          <div class="form-control flex">
            <label class="label cursor-pointer">
              <p class="label-text mr-3">Remember me</p>
              <input
                type="checkbox"
                checked="checked"
                class="checkbox  bg-teal-500"
              />
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn bg-teal-500 btn-sm border-none">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="flex flex-col gap-2">
    <h2 class="text-center">Don't have an account</h2>
    <button
      class="btn bg-white btn-wide rounded-full btn-sm text-black hover:text-white"
    >
      Sign up to Encore.
    </button>
  </div>
</div>
